@media only screen and (max-width: 768px) {
 .moveup:focus {
    transform: translate(0,-40vh);
  }
}

#scrolling {
  color: rgba(0,0,0,0.4)
}

html {
  overflow: hidden;
}

body {
  background: #f2f2f4;
  padding: 10px 0;
  height: 100%;
  position: fixed;
  webkit-overflow-scrolling: touch;
  overflow: hidden;
  text-align: center;
  width: 100%;
  margin: 0;
}

#datageneration {
  text-align: center;
  padding: 0;
  width: 310px;
  margin: 0 auto;
}

#canvasDiv canvas {
  border: 1px solid black;
}

button {
  height: 30px;
  font-size: 16px;
  vertical-align: middle;
  border: 1px solid black;
  margin: 0 2px;
  border-radius: 5px;
}

button.addNumber {
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  width: 45px;
  margin-top: 8px;
}

#instructions {
  margin: 0;
  font-size: 14px;
}

button.numberAmount {
  width: 45px;
  border-radius: 0 0 5px 5px;
  background: white;
  height: 21px;
  cursor: default;
}

button:focus {
  outline: 0;
}

button.addNumber:active {
  transform: translateY(2px);
}

button#upload {
  margin-top: 8px;
}

h2 {
  font-size: 16px;
  margin: 10px 0 0 0;
}

h3 {
  margin: 0;
}
